.bash_history
.bash_logout
.bashrc
.lesshst
.profile
.screenrc_catatsuy
.ssh
.toprc
.editorconfig
LICENSE
README.md
ansible
azure
bench
portal
provisioning
regulation.md
benchmark.sh
dotfiles_catatsuy
*.swp
